---
import Base from "../layouts/Base.astro"
---
<Base>
    <h1>What I'm Learning/Have Learned/ Will Have forgotten</h1>
<ul>
<li><a href="/posts/july-11/">July 11th: Tailwind, Media Queries, HTML Tags & JavaScript Methods</a> </li>

</ul>


</Base>