---
import Base from "../layouts/Base.astro"
---
<Base>
    <section>
        <h2> Things I want to Build</h2>
        <a href="/lists/to-build/">List of them</a>

        <h2> What I've Actually Built</h2>
    </section>

</Base>