---
const { frontmatter } = Astro.props;
import "../styles/global.css"
---
<meta charset="utf-8" />

<article>
 
<section>
<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>

<slot />
</section>    
</article>